<div>
	<div id="projects">
		
		{{#each current_projects}}
		<div class="project">
			<p>Project: {{this.project_name}}</p>
				
				<div class="assignments">
					{{#each this.assignments}}
					<p>Assignment ID: {{this.assignment_id}}</p>
					<p>Assignment Name: {{this.assignment_name}}</p>

					<div class="time_entries">
						{{#each time_entries}}
						<p class="time_entry">{{this.time}}</p>
						<p class="day">{{this.day}}</p>
						{{/each}}
					</div>

					{{/each}}
				</div>
		</div>
		{{/each}}

	</div>
</div>
