<div>
Timesheet name: {{name}}


	<div class="projects">

		{{#each projects}}
		<div id="project_{{this.project_id}}" class="project clearfix">
			<a class="project_expand"><span>+<span></a>
			<input class="hidden_project_id" type="hidden" value="{{this.project_id}}" />
			<p class="project_id">Project ID: {{this.project_id}}</p>


			<div class="assignments">
				<table>
					<thead>
						<tr>
							<th>Assignment</th>
							<th>Mon</th>
							<th>Tues</th>
							<th>Wed</th>
							<th>Thurs</th>
							<th>Fri</th>
							<th>Assignment</th>
						</tr>
					</thead>
				{{#each this.assignments}}
				<div class="assignment">{{this.project_id}}</div>
				{{/each}}
				</table>
			</div>

			
		</div>
		{{/each}}


	</div>


</div>
