<div>
	<div class="separator">Open Projects</div>


	<div id="open_projects">
		{{#each open_projects}}
		<div class="project">
			<p>Project: {{this.project_name}}</p>
				
				<div class="assignments">
				<table>

					<tr>
						<th>Assignment</th>
						{{#each ../intervals}}
						<th>{{this.day_name}}<th>
						{{/each}}
					</tr>

					{{#each this.assignments}}
					<tr>
						<td><p>Assignment Name: {{this.assignment_name}}</p></td>
						
						{{#each this.time_entries}}
						<td>
							<span>{{this.time}}<span>
						</td>
						{{/each}}
					</tr>

					{{/each}}
				</table>
		</div>
		{{/each}}
	</div>

	<div class="separator">All Projects</div>

	<div id="available_projects">
		{{#each available_projects}}
		<div class="project">
			<p>Project: {{this.project_name}}</p>
			
				<div class="assignments hidden">
				<table>

					<tr>
						<th>Assignment</th>
						{{#each ../intervals}}
						<th>{{this.day_name}}<th>
						{{/each}}
					</tr>

					{{#each this.assignments}}
					<tr>
						<td><p>Assignment Name: {{this.assignment_name}}</p></td>
						
						{{#each this.time_entries}}
						<td>
							<span>{{this.time}}<span>
						</td>
						{{/each}}
					</tr>

					{{/each}}
				</table>
				</div>
		</div>
		{{/each}}
	</div>

</div>
